@use "variables" as *;




@mixin uppercase{
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0 auto;
}
@mixin box {
    background:white;
    border: 10px ridge $color-fiveth;
    font-size: 26px;
    font-weight: 600;
    border-radius:20px;
    transition: 1s;
    transition-timing-function: ease;

}



header h2 {
    -webkit-text-stroke: .1px  $color-two ;
}

h1{
    font-family: $font-primary;
    color:$color-white;
    // background-color: $color-one;
    font-size: 1.5em;
   display: inline-block;
    letter-spacing: 2px;
    padding: 5px;
    border-radius:10px;
}
h2,
h3,
h4{
    font-family: $font-primary;
    letter-spacing: 1px;
    color:$color-thrid;
    
}
h2{
    font-size: 2em;
    text-align:left;
}
h3{
    font-size:1.5em ;
}
h4{
    font-size: 2em;
}
p{
    font-family: $font-secondary;
    font-size: .9em;
    font-weight: 600;
    color:$color-one;
}
a{
    text-decoration: none;
    color:$color-thrid;
    border-bottom:1px dotted $color-fiveth;
}
a:hover{
    border-bottom: $color-two;
    background-color: $color-fiveth;
}
li{
    font-family: $font-secondary;
}
