@use "variables" as *;




@mixin uppercase{
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0 auto;
}
@mixin square($color1, $color2 ){
    border: 2px solid $color1;
    background-color:$color2;
    padding: 8px 6px;
}


h1{
    font-family: $font-primary;
    color:$color-white;
    background-color: $color-one;
    font-size: 1.5em;
   display: inline-block;
    letter-spacing: 2px;
    padding: 5px;
    border-radius:10px;
}
h2,
h3,
h4{
    font-family: $font-primary;
    letter-spacing: 1px;
    color:$color-thrid;
    margin:0;
}
h2{
    font-size: 4em;
    text-align:left;
}
h3{
    font-size:2.7em ;
}
h4{
    font-size: 2em;
}
p{
    font-family: $font-secondary;
    font-size: 1.3em;
    font-weight: 500;
    color:$color-one;
}
a{
    text-decoration: none;
    color:$color-thrid;
    border-bottom:1px dotted $color-fiveth;
}
a:hover{
    border-bottom: $color-two;
    background-color: $color-fiveth;
}
