 @use "variables" as *;
 @use "atoms" ;





 @mixin uppercase{
  text-transform: uppercase;
  padding: 10px 5px;
  margin: 0 auto;
}
@mixin box {
  background:white;
  border: 10px ridge $color-fourth;
  font-size: 24px;
  font-weight: 600;
  border-radius:20px;
  transition: .5s;
  transition-timing-function: ease-in;

}
@mixin headline{
  h3{
    color: $color-white;
    text-shadow:2px 6px 1px $color-two;
    -webkit-text-stroke: 1px $color-one;
    font-size: 30px;
    font-weight: 900;
    transition: 1s;
    transition-timing-function: ease-in-out; 
  }
  h3::before{
    content:"";
    display:inline-block;
    width:calc(100% - 95%);
    height: 2px;
    border-radius:0 50% 50% 0 ;
    margin-right:4px;
    background:linear-gradient(to left,$color-one, $color-two);
    
    
  }
  h3::after{
    content:"";
    display:inline-block;
    width:calc(100% - 95%);
    height: 2px;
    border-radius: 50% 0 0 50% ;
    margin-left:4px;
    background:linear-gradient(to right,$color-one, $color-two);
  }
}
abbr {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

abbr:hover::after {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: block;
  padding: .5em;
  background: $color-two;
  border-radius: 15px;
  content: attr(title);
}

@mixin key-frame-moving{
@keyframes moving {
  
  0% {transform: rotate(0deg)}
  50%{transform: rotate(360deg)}
  100%{transform: rotate(0deg)}
}
}
