@use "variables" as *;
@use "atoms";
@use "molecules";


.page-wrapper {
  position: relative;
  
}

header h2 {
  text-align: center;
  color: #404;
}

body{
 width:600px;
}
.page-wrapper{
  max-width:590px;
  height:100%;
  font-size: 23px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

/*------------section parts----------*/

.intro{
  height: 100%;
  border-radius:10px;
  text-align: center;
  display:block;
  position:relative;
  

  header{
    height:auto;
    margin-bottom:10px;
    border:10px ridge $color-two;
    font-size: 21px;
    border-radius:10px;
    
  }
  .preamble{
    height:auto;
    margin-bottom:10px;
    border: 10px ridge $color-fourth;
    border-radius:10px;
    padding: 3px 5px;
    background: white;
    &:hover{
      @include molecules.headline;
     
    } 
 
  }

  
  .summary{ 
    margin-bottom:10px;
    border: 10px ridge $color-fourth;
    background:white;
    border-radius:10px;
    padding: 3px 5px;
    transition: .5s;
    transition-timing-function: ease-in-out;
    &:hover{
      @include molecules.box;
    }
  }

}

/*----------------main-parts----------------------*/

.main{
  display:block;
  border-radius:10px;
  text-align: center;
  & > div{
    border:10px ridge $color-two;
    background-color: $color-white;
    border-radius:10px;
    margin-bottom:10px;
    padding: 3px 5px; 
    
    &:hover{
      @include molecules.headline;
    }
  }
  
    footer{
      padding:10px;
      border-radius:25px;
      background:$color-white;
      & > a{
        border-radius:10px;
        padding:10px;
        font-size: 26px;
        color:$color-one;
        margin:15px;
      

      } 
    }
  }

/*----------------aside-----------*/

.wrapper{
  font-family: $font-secondary;
  text-align: center;

}
  .wrapper > div{
    border: 10px ridge $color-fiveth;
    background:hsl(56, 64%, 96%);
    margin:10px;
    border-radius:10px;
    &:hover{
      @include molecules.headline;
    }
    
  }
 li{
      list-style: none;
  }

  /*==================large-screen=======================*/

  @media (min-width:39em){
   body{
      margin: auto;
      width: 1000px;
    }
    .page-wrapper{
      display: block;
     max-width:1000px;
      margin-top: 25px;
    }
   
    /*---------first-box----------------*/
    .intro{
      height:auto;
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: 1fr 1fr;
      gap:15px;
      grid-template-areas:
      "hd hd hd"
      "sum pre pre";

      header{
        height:auto;
        grid-area: hd;
        border-radius: 10px;
      }

      .preamble{
        height: auto;
        grid-area: pre;
        border-radius:10px;
      }

      .summary{
        height: auto;
        grid-area: sum;
      }
      div:nth-child(n), header{
        border-radius: 40% 5% / 10% 30%;
      }
    }
    /*-------------second-box-----------------*/

    .supporting,
    .main{ 
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
      grid-template-areas: 
      "ex ex ex . ."
      ". par par par par"
      "ben ben req req req "
      "ben ben req req req "
      " . fot fot fot .";
      gap:20px;

       div:nth-child(1){  
      grid-area: ex;

      }
      
       div:nth-child(2){
        grid-area: par;
      }

       div:nth-child(3){
       grid-area: ben; 
       height:15em;
       align-self: center;
        
      }

       div:nth-child(4){
        grid-area: req;
        
      }
      div:nth-child(n), footer{
        border:10px ridge $color-fourth;
       border-radius: 40% 5% / 10% 30%;
        padding:10px;
        background-color:$color-white;
      }

      
      footer{
        grid-area: fot;

      }
    }

    /*-----------thrid-box-------------*/

    .wrapper{
      display:grid;
      grid-template-areas:
      " .  d-s d-s"
      "da  da   . "
      ".  zen  zen";

      .design-selection{
        height: auto;
        grid-area: d-s;
      }

      .design-archives{
        height:auto;
        grid-area: da;
      }

      .zen-resources{
        height:auto;
        grid-area: zen;
      }
      div:nth-child(n){
        border-radius: 40% 5% / 10% 30%;
        padding:10px;
        transition: 2s;
        transition-delay: 2s;
        
      }
    
    }
  }



  
