@font-face {
    font-family: Starixo;
    src: url('../tools/fonts/Starixo.otf');
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../tools/fonts/Mint\ Type\ -\ Opinion\ Pro\ Condensed\ Light.otf');
  }

$color-one: #2d4654;
$color-two: #b0b2b8;
$color-thrid: #721817;
$color-fourth: #ff331f;
$color-fiveth: #e8871e;
$color-black: #000;
$color-white: #fff;
$font-primary:"Starixo";
$font-secondary:"myFirstFont";
$large-screen:38em;


