@font-face {
  font-family: Starixo;
  src: url("../tools/fonts/Starixo.otf");
}
@font-face {
  font-family: myFirstFont;
  src: url("../tools/fonts/Mint Type - Opinion Pro Condensed Light.otf");
}
header {
  background-color: #fff;
}

header h2 {
  -webkit-text-stroke: 0.2px #b0b2b8;
}

h1 {
  font-family: "Starixo", sans-serif, "Courier New", Courier, monospace;
  color: #2d4654;
  font-size: 1.7em;
  display: inline-block;
  letter-spacing: 2px;
  padding: 5px;
}

h2,
h3,
h4 {
  font-family: "Starixo", sans serif, "Courier New", Courier, monospace;
  letter-spacing: 1px;
  color: #721817;
}

h2 {
  font-size: 2em;
  text-align: left;
}

h3 {
  font-size: 1.3em;
  border-radius: 5px;
  text-align: center;
}

h4 {
  font-size: 2em;
}

p {
  font-family: "myFirstFont", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #2d4654;
}

a {
  text-decoration: none;
  color: #2d4654;
  border-bottom: 1px dotted #e8871e;
}

a:hover {
  border-bottom: #b0b2b8;
  background-color: #e8871e;
}

li {
  font-family: "myFirstFont", Arial, Helvetica, sans-serif;
}

.page-wrapper {
  position: relative;
}

header h2 {
  text-align: center;
  color: #404;
}

body {
  width: 600px;
}

.page-wrapper {
  max-width: 590px;
  height: 100%;
  font-size: 23px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*------------section parts----------*/
.intro {
  height: 100%;
  border-radius: 10px;
  text-align: center;
  display: block;
  position: relative;
}
.intro header {
  height: auto;
  margin-bottom: 10px;
  border: 10px ridge #b0b2b8;
  font-size: 21px;
  border-radius: 10px;
}
.intro .preamble {
  height: auto;
  margin-bottom: 10px;
  border: 10px ridge #ff331f;
  border-radius: 10px;
  padding: 3px 5px;
  background: white;
}
.intro .preamble:hover h3 {
  color: #fff;
  text-shadow: 2px 6px 1px #b0b2b8;
  -webkit-text-stroke: 1px #2d4654;
  font-size: 35px;
  font-weight: 900;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.intro .preamble:hover h3::before {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 0 50% 50% 0;
  margin-right: 4px;
  background: linear-gradient(to left, #2d4654, #b0b2b8);
}
.intro .preamble:hover h3::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 50% 0 0 50%;
  margin-left: 4px;
  background: linear-gradient(to right, #2d4654, #b0b2b8);
}
.intro .summary {
  margin-bottom: 10px;
  border: 10px ridge #ff331f;
  background: white;
  border-radius: 10px;
  padding: 3px 5px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.intro .summary:hover {
  background: white;
  border: 10px ridge #ff331f;
  font-size: 26px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

/*----------------main-parts----------------------*/
.main {
  display: block;
  border-radius: 10px;
  text-align: center;
}
.main > div {
  border: 10px ridge #b0b2b8;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 3px 5px;
}
.main > div:hover h3 {
  color: #fff;
  text-shadow: 2px 6px 1px #b0b2b8;
  -webkit-text-stroke: 1px #2d4654;
  font-size: 35px;
  font-weight: 900;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.main > div:hover h3::before {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 0 50% 50% 0;
  margin-right: 4px;
  background: linear-gradient(to left, #2d4654, #b0b2b8);
}
.main > div:hover h3::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 50% 0 0 50%;
  margin-left: 4px;
  background: linear-gradient(to right, #2d4654, #b0b2b8);
}
.main footer {
  padding: 10px;
  border-radius: 25px;
  background: #fff;
}
.main footer > a {
  border-radius: 10px;
  padding: 10px;
  font-size: 26px;
  color: #2d4654;
  margin: 15px;
}

/*----------------aside-----------*/
.wrapper {
  font-family: "myFirstFont";
  text-align: center;
}

.wrapper > div {
  border: 10px ridge #e8871e;
  background: hsl(56, 64%, 96%);
  margin: 10px;
  border-radius: 10px;
}
.wrapper > div:hover h3 {
  color: #fff;
  text-shadow: 2px 6px 1px #b0b2b8;
  -webkit-text-stroke: 1px #2d4654;
  font-size: 35px;
  font-weight: 900;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.wrapper > div:hover h3::before {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 0 50% 50% 0;
  margin-right: 4px;
  background: linear-gradient(to left, #2d4654, #b0b2b8);
}
.wrapper > div:hover h3::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  border-radius: 50% 0 0 50%;
  margin-left: 4px;
  background: linear-gradient(to right, #2d4654, #b0b2b8);
}

li {
  list-style: none;
}

/*==================large-screen=======================*/
@media (min-width: 39em) {
  body {
    margin: auto;
    width: 1000px;
  }
  .page-wrapper {
    display: block;
    max-width: 1000px;
    margin-top: 25px;
  }
  /*---------first-box----------------*/
  .intro {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    grid-template-areas: "hd hd hd" "sum pre pre";
  }
  .intro header {
    height: auto;
    grid-area: hd;
    border-radius: 10px;
  }
  .intro .preamble {
    height: auto;
    grid-area: pre;
    border-radius: 10px;
  }
  .intro .summary {
    height: auto;
    grid-area: sum;
  }
  .intro div:nth-child(n), .intro header {
    border-radius: 40% 5%/10% 30%;
  }
  /*-------------second-box-----------------*/
  .supporting,
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "ex ex ex . ." ". par par par par" "ben ben req req req " "ben ben req req req " " . fot fot fot .";
    gap: 20px;
  }
  .supporting div:nth-child(1),
  .main div:nth-child(1) {
    grid-area: ex;
  }
  .supporting div:nth-child(2),
  .main div:nth-child(2) {
    grid-area: par;
  }
  .supporting div:nth-child(3),
  .main div:nth-child(3) {
    grid-area: ben;
    height: 15em;
    align-self: center;
  }
  .supporting div:nth-child(4),
  .main div:nth-child(4) {
    grid-area: req;
  }
  .supporting div:nth-child(n), .supporting footer,
  .main div:nth-child(n),
  .main footer {
    border: 10px ridge #ff331f;
    border-radius: 40% 5%/10% 30%;
    padding: 10px;
    background-color: #fff;
  }
  .supporting footer,
  .main footer {
    grid-area: fot;
  }
  /*-----------thrid-box-------------*/
  .wrapper {
    display: grid;
    grid-template-areas: " .  d-s d-s" "da  da   . " ".  zen  zen";
  }
  .wrapper .design-selection {
    height: auto;
    grid-area: d-s;
  }
  .wrapper .design-archives {
    height: auto;
    grid-area: da;
  }
  .wrapper .zen-resources {
    height: auto;
    grid-area: zen;
  }
  .wrapper div:nth-child(n) {
    border-radius: 40% 5%/10% 30%;
    padding: 10px;
    transition: 2s;
    transition-delay: 2s;
  }
}
/** {
    box-sizing: border-box;

  }*/
body {
  width: unset;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: hsl(56, 92%, 75%);
  background-image: radial-gradient(circle, hsl(137, 55%, 58%) 0.1em, transparent 0.2em), linear-gradient(135deg, rgb(251, 207, 125) 0.4rem, transparent 0.3rem, hsl(200, 88%, 70%) 25%, transparent 15%), linear-gradient(-45deg, rgb(151, 180, 248) 0.2em, transparent 0.3em, hsl(55, 67%, 89%) 20%, transparent 15%);
  background-size: 25px 25px;
  background-position: 0 0, 0 0, 3em 3em;
}

/*# sourceMappingURL=style.css.map */
