@use "variables" as *;
@use "atoms";
@use "molecules";
@use "organisms" as o;

  
  body{
    width: unset;
    height: auto;
    display: block; 
    margin:0 5%;
    background-color: hsl(231, 97%, 72%);
    background-image:
    radial-gradient(circle, hsl(250, 73%, 84%) .1em, transparent .2em),
   linear-gradient(135deg, rgb(148, 211, 251) .4rem,transparent .3rem,hsl(200, 89%, 82%) 25%, transparent 15%),
   linear-gradient(-45deg,rgb(180, 200, 245) .2em, transparent .3em,hsl(55, 48%, 95%) 20%,transparent 15%);
   background-size: 25px 25px;
  background-position: 0 0, 0 0,3em 3em;
  }
  
  
 
