@font-face {
  font-family: Starixo;
  src: url("../tools/fonts/Starixo.otf");
}
@font-face {
  font-family: myFirstFont;
  src: url("../tools/fonts/Mint Type - Opinion Pro Condensed Light.otf");
}
header h2 {
  -webkit-text-stroke: 0.1px #b0b2b8;
}

h1 {
  font-family: "Starixo";
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 10px;
}

h2,
h3,
h4 {
  font-family: "Starixo";
  letter-spacing: 1px;
  color: #721817;
}

h2 {
  font-size: 2em;
  text-align: left;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 2em;
}

p {
  font-family: "myFirstFont";
  font-size: 0.8em;
  font-weight: 500;
  color: #2d4654;
}

a {
  text-decoration: none;
  color: #721817;
  border-bottom: 1px dotted #e8871e;
}

a:hover {
  border-bottom: #b0b2b8;
  background-color: #e8871e;
}

li {
  font-size: "myFirstFont";
}

[role=banner] {
  border: 2px solid #b1eb7e;
  background-color: #f0e992;
  text-transform: uppercase;
  padding: 10px 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.main::before {
  content: url(../tools/Images/428012799_383285227655250_6593249909559050149_n.jpg);
  background-size: 10px;
}

h3 {
  border-radius: 5px;
  text-align: center;
}

.page-wrapper {
  position: relative;
}

header {
  background-image: url(../tools/Images/428097737_1050808266027002_2388398559896105113_n.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  z-index: 5;
}

header h2 {
  text-align: center;
}

body {
  width: 600px;
}

.page-wrapper {
  max-width: 600px;
  height: 100%;
  font-size: 23px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*------------section parts----------*/
.intro {
  height: 100%;
  border-radius: 10px;
  text-align: center;
  display: block;
}
.intro header {
  height: auto;
  margin-bottom: 10px;
  border: 3px solid #721817;
  font-size: 21px;
  border-radius: 10px;
}
.intro .preamble {
  height: auto;
  margin-bottom: 10px;
  border: 3px solid #ff331f;
  border-radius: 10px;
  padding: 3px 5px;
}
.intro .summary {
  height: auto;
  margin-bottom: 10px;
  border: 3px solid #e8871e;
  border-radius: 10px;
  padding: 3px 5px;
}

/*----------------main-parts----------------------*/
.main {
  display: block;
  border-radius: 10px;
  text-align: center;
}
.main .main > div:nth-of-type(odd) {
  border: 3px solid #721817;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 3px 5px;
}
.main .main > div:nth-of-type(even) {
  border: 3px solid #2d4654;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 3px 5px;
}
.main footer {
  border: 3px solid #ff331f;
  border-radius: 10px;
  padding: 8px;
}

/*----------------aside-----------*/
.wrapper {
  font-family: "myFirstFont";
  text-align: center;
}

.wrapper > div {
  border: 3px solid #e8871e;
  margin: 10px;
  border-radius: 10px;
}

li {
  list-style: none;
}

/*==================large-screen=======================*/
@media (min-width: 39em) {
  body {
    margin: 0 auto;
    width: 1000px;
  }
  .page-wrapper {
    display: block;
    max-width: 1000px;
    margin-top: 25px;
  }
  /*---------first-box----------------*/
  .intro {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    grid-template-areas: "hd hd hd" "sum pre pre";
  }
  .intro header {
    height: auto;
    grid-area: hd;
    border-radius: 10px;
  }
  .intro .preamble {
    height: auto;
    grid-area: pre;
    border-radius: 10px;
  }
  .intro .summary {
    height: auto;
    grid-area: sum;
  }
  .intro div:nth-child(n), .intro header {
    border-radius: 40% 5%/10% 30%;
  }
  /*-------------second-box-----------------*/
  .supporting,
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "ex ex ex . ." ". par par par par" "ben ben req req req " "ben ben req req req " ". fot fot fot .";
    gap: 20px;
  }
  .supporting div:nth-child(1),
  .main div:nth-child(1) {
    grid-area: ex;
  }
  .supporting div:nth-child(2),
  .main div:nth-child(2) {
    grid-area: par;
  }
  .supporting div:nth-child(3),
  .main div:nth-child(3) {
    grid-area: ben;
    height: 15em;
    align-self: center;
  }
  .supporting div:nth-child(4),
  .main div:nth-child(4) {
    grid-area: req;
  }
  .supporting div:nth-child(n), .supporting footer,
  .main div:nth-child(n),
  .main footer {
    border: 3px solid #ff331f;
    border-radius: 40% 5%/10% 30%;
    padding: 10px;
  }
  .supporting footer,
  .main footer {
    grid-area: fot;
  }
  /*-----------thrid-box-------------*/
  .wrapper {
    display: grid;
    grid-template-areas: "d-s da zen" "d-s da zen" "d-s da zen";
  }
  .wrapper .design-selection {
    height: auto;
    grid-area: d-s;
  }
  .wrapper .design-archives {
    height: auto;
    grid-area: da;
  }
  .wrapper .zen-resources {
    height: auto;
    grid-area: zen;
  }
  .wrapper div:nth-child(n) {
    border-radius: 40% 5%/10% 30%;
  }
}
* {
  box-sizing: border-box;
}

html {
  background-color: hsl(88, 44%, 89%);
}

/*# sourceMappingURL=style.css.map */
