@use "variables" as *;
@use "atoms";
@use "molecules";
@use "organisms" as o;

* {
    box-sizing: border-box;
  }
  html {
    background:linear-gradient(#e8871e, #b0b2b8);
    padding: 5%;
  }
  
  body {
    font-family: $font-secondary;
    font-size: 85%;
    
    background-color: $color-white;
    margin: 0;
    padding: 1em;
    position:relative;
  }
 
